<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodDrop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8D9E3251BBCA758005B2719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8D9E33A1BBCA758005B2719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8D9E3451BBCA758005B2719</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
