language: objective-c
osx_image: xcode7
xcode_workspace: PodDrop.xcworkspace
xcode_scheme: PodDrop
xcode_sdk: iphonesimulator
cache: cocoapods


notifications:
  email: false
  slack: iosdevcon1:xEnP1AqmiZ3L44wbPQaNd2St
