language: objective-c
osx_image: xcode7
xcode_project: PodDrop.xcodeproj
xcode_scheme: PodDrop
xcode_sdk: iphonesimulator

script:
xcodebuild clean build test -project PodDrop.xcodeproj -scheme PodDrop -sdk iphonesimulator

notifications:
  email: false
  slack: iosdevcon1:xEnP1AqmiZ3L44wbPQaNd2St
